
@{
    ViewBag.Title = "Index";
}
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div class="row">

        <img class="img-responsive" title="By David Revoy / Blender Foundation (Own work) [CC BY 3.0
         (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons"
             src="https://upload.wikimedia.org/wikipedia/commons/7/7e/2010-1-meeting-under-the-tree.jpg" />
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Welcome to the adventure! </h1>
            <h3>Develop your kindom, raise an army and go to war!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 margin-top">
            <form>
                <span>
                    <input placeholder="username" />
                </span>
                <span>
                    <input placeholder="password" />
                </span>
                <button>Login</button>
            </form>
            <a>Or maybe just register..</a>
        </div>
    </div>



</div>

